* {
  all: unset;
 // font-family: "JetBrains Mono";
  font-family: "DFKakuTaiHi Std W4";
}

// WINDOW RELATED CSS
.bg {
  background-color: #ff65ab;
  border: 2px solid #80A0C0;
}

window {
  background: #2e3440;
  color: #ebcb8b;
 //border-radius: 2rem;
  border: 3px solid #80A0C0;
}


// WIDGET MISC SETTINGS
.cal {
  color: #8fbcbb;
  padding: 5px;
  padding-bottom: 1px;
}
