alias vim=nvim
alias dotfiles='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'
alias dotfilespush='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME push -u origin master'
alias dotfilescomm='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME commit -m'
alias dotfilesupdate='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME add -u'
